# Vault Exclusions
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/obsidian-digital-garden/data.json
.obsidian/cache/
.trash/
.DS_Store
Thumbs.db

# Build & Environment Exclusions
node_modules/
dist/
_site/
.netlify/
.vercel/
.idea/
.cache/
.gemini/
.geminiignore
temp_*/

# Digital Garden Data
netlify/functions/search/data.json
netlify/functions/search/index.json
src/site/styles/theme.*.css
src/site/styles/_theme.*.css